@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

* {
    font-family: 'Gilroy-Regular', sans-serif;
}


.custom-color-blue {
    color: #10316B;
}

.custom-bg-violet {
    background-color: #10316B;
}

.custom-color-green {
    color: #0B8457;
}


.custom-bg-green {
    background-color: #0B8457;
}

.custom-bg-blue-sky {
    background-color: #C5F4FE;
}

/*Section Header*/
#header {
    font-family: 'Gilroy-Bold', sans-serif;
}

/*end Section Header*/

/*Section Home*/
#home {
    font-family: 'Gilroy-Bold', sans-serif;
}


#home #phones-images {
    padding-top: 100%;
    background: url("./phone2.png") no-repeat bottom right/60% , url("./phone1.png") no-repeat 19% top /53%;
    /*background-size: contain;*/
}

form input:first-child {
    border-right: none;
    border-radius: 5px 0 0 5px;
}

form input:last-child {
    border: solid 1px #0B8457;
    border-radius: 0 5px 5px 0;
}

/*form input[type='submit']:active {
  content: "SUBMIT";
  color: red;
  border: solid 1px red;
}*/
/*end Section Home*/

/*Section 2*/
#weather-icons {
    background: url("./weather-icons.png") border-box no-repeat center/65%, rgba(242, 238, 238, 0.15);
    
}

.image-tablet {
    padding-top: 73%;
    background: url("./image-tablet.png") no-repeat center/contain border-box;
}
/*end Section 2*/

/*Section 3*/
.white-place {
    padding-top: 73.6%;
    border: solid 7px white;
    border-radius: 5px 5px 0 0;
}

#section_3 #image-water {
  background: url("./image-water.png") no-repeat bottom/cover border-box;
}

#section_3 #image-agriculture {
    background: url("./image-agriculture.png") no-repeat bottom/cover border-box;
}

#section_3 #image-floods {
  background: url("./image-floods.png") no-repeat bottom/cover border-box;
}
/*end Section 3*/

/*Section 6*/
#image1-section6 {  
  padding-top: 66.5%;
  border: solid 0.001px#0B8457;
  background: url("./image1-section6.png") no-repeat border-box right/contain;
  
}

#image2-section6 {    
  padding-top: 66.5%;
  border: solid 0.001px#0B8457;
  background: url("./image2-section6.png") no-repeat border-box right/contain;
  
}

#image3-section6 {    
padding-top: 66.5%;
border: solid 0.001px#0B8457;
background: url("./image3-section6.png") no-repeat border-box right/contain;

}

#ready .swiper-container {
  box-shadow: -15px -15px 0px #0B8457;
}
/*end Section 6*/

/*Section 4*/
#section_4 {
    font-family: 'Gilroy-Bold', sans-serif;
}
/*end Section 4*/

/*debug border*/
.border-debug1 {
    border: red 2px dashed;
}
.border-debug2 {
    border: green 2px dashed;
}
/*end debug border*/



/*Swiper code*/
.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.custom-swiper-button {
  color: transparent!important;
  width: 35px!important;
  height: 35px!important;
  border-radius: 50%!important;
  background-color: white!important;
}

.custom-swiper-button .fa {
  font-size: 15px!important;
}


#phone1-slider {
  background: url("./phone1_a.png") no-repeat center/contain;
  width: 230px;
  height: 400px;
}

#phone2-slider {
  background: url("./phone2_a.png") no-repeat center/contain;
  width: 230px;
  height: 400px;
}

#phone3-slider {
  background: url("./phone3.png") no-repeat center/contain;
  width: 230px;
  height: 400px;
}

#phone4-slider {
  background: url("./phone4.png") no-repeat center/contain;
  width: 230px;
  height: 400px;
}

#phone5-slider {
  background: url("./phone5.png") no-repeat center/contain;
  width: 230px;
  height: 400px;
}

#phone6-slider {
  background: url("./phone6.png") no-repeat center/contain;
  width: 230px;
  height: 400px;
}

#phone7-slider {
  background: url("./phone7.png") no-repeat center/contain;
  width: 230px;
  height: 400px;
}

#phone8-slider {
  background: url("./phone8.png") no-repeat center/contain;
  width: 230px;
  height: 400px;
}
/*end Swiper code*/



/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  html {
    font-size: 10px;
  }
  
  #home {
      font-size: 10px;
  }

  #home form input:first-child {
      font-weight: bold;
      padding: 1.4em;
      border-right: none;
      border-radius: 5px 5px 0 0;
  }
  
  #home form input:last-child {
      border: solid 1px #0B8457;
      border-radius: 0 0 5px 5px;
  }

  #ready form input:first-child {
    padding: 1.5em;
  }

  #ready form input:last-child {
    padding-top: 0.8em;
    padding-bottom: 2.2em;
  }

  .custom-swiper-button {
    width: 25px!important;
    height: 25px!important;
  }  

}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  html {
    font-size: 10px;
  }

  #home {
      font-size: 7px;
  }

  #section_2 {
      font-size: 12;
  }

  .custom-swiper-button {
    width: 25px!important;
    height: 25px!important;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 10px;
  }

  #home {
      font-size: 5px;
  }

  #section_2 p {
    line-height: 28px;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  html {
    font-size: 15px;
  }

  #section_2 p {
    line-height: 35px;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  html {
    font-size: 15px;
    max-width: 1400px;
    margin: auto;
  }

  #section_2 p {
    line-height: 35px;
  }
}