<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <!-- Optimized viewport for mobile -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1"
    />
    <!-- Website description -->
    <meta name="description" content="rain, wind" />
    <meta name="keywords" content="frainings, app" />

    <!--Bootstrap Style-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!--Custom Style-->
    <link rel="stylesheet" href="../static/custom_css.css" />

    <!--Fontawesome icons-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />

    <!--Swiper library-->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />

    <!-- Website title-->
    <title>RainMaker</title>
  </head>
  <body>
    <!--Section Header-->
    <div class="mx-4 px-4 mx-lg-5 px-lg-5 py-2" id="header">
      <div class="d-flex justify-content-between">
        <div class="col-4 pl-0 col-lg-auto">
          <img src="../static/Logo.png" alt="logo" class="" />
        </div>
        <div class="d-none d-sm-flex align-items-center">
          <button class="px-4 custom-bg-green btn text-white py-2">
            GET EARLY ACCESS
          </button>
        </div>
      </div>
      <button
        class="d-sm-none btn btn-sm small font-weight-bold text-right ml-2 py-0 custom-bg-green text-white"
      >
        GET EARLY ACCESS
      </button>
    </div>

    <!--end Section Header-->

    <!--Section Home-->
    <div id="home" class="px-4 px-lg-5 custom-bg-blue-sky">
      <div class="d-sm-none pt-5 pl-4">
        <h1 class="custom-color-blue font-weight-bolder">
          Become your own <br />
          weatherman with just <br />
          one touch!
        </h1>
        <p class="custom-color-green my-4 h4">
          RainMaker gives you the power to control the amount of rainfall in
          your preferred location, right from your mobile phone.
        </p>
      </div>

      <div class="d-flex justify-content-center align-items-center">
        <div class="col-5 col-sm-6 pl-4 my-0 my-sm-5 px-lg-5">
          <div class="d-none d-sm-block">
            <h1 class="custom-color-blue font-weight-bolder">
              Become your own <br />
              weatherman with just <br />
              one touch!
            </h1>
            <p class="custom-color-green my-4 h4">
              RainMaker gives you the power to control the amount of rainfall in
              your preferred location, right from your mobile phone.
            </p>
          </div>

          <h3 class="custom-color-blue font-weight-bolder pt-sm-0 mt-sm-0">
            Cool Right?
          </h3>
          <p class="custom-color-green my-3 h4">
            Be the first to know when we launch
          </p>

          <div class="col-md-8 col-lg-9 my-4 pl-0">
            <form method="POST" class="shadow form-group d-flex flex-wrap">
              <input
                type="email"
                name="email"
                id="emailField"
                class="form-control col-auto col-sm-8 mr-0"
                placeholder="Email address"
                required
              />

              <input
                type="submit"
                value="SUBMIT"
                class="btn btn-success text-white custom-bg-green font-weight-bolder col-auto col-sm-4 form-control"
              />
            </form>
          </div>
        </div>

        <div class="col-7 col-sm-6 my-4 px-0 px-sm-4 py-sm-4 p-md-5 ml-0">
          <div id="phones-images"></div>
        </div>
      </div>
    </div>
    <!--end Section Home-->

    <!--Section 2-->
    <div id="section_2">
      <div class="col-12 p-5" id="weather-icons">
        <div class="p-4"></div>
      </div>

      <div class="px-3 mx-sm-4 mx-3 px-sm-4 py-3 mx-lg-5 p-lg-5">
        <div class="d-flex flex-column flex-sm-row align-items-center">
          <div
            class="d-none d-sm-block col-3 col-sm-4 col-md-6 ml-0 pl-sm-0 py-2"
          >
            <div class="image-tablet"></div>
          </div>

          <div class="col-sm-8 col-md-6 ml-0 pl-2 ml-lg-4">
            <div
              class="d-flex justify-content-between align-items-center pt-4 pt-md-0"
            >
              <h3 class="custom-color-green font-weight-bold">
                RainMaker Technology
              </h3>
              <div class="d-sm-none col-3 mr-4">
                <div class="image-tablet"></div>
              </div>
            </div>
            <p class="custom-color-blue h5">
              Welcome to a world of possibilities. <br />
              With our state of the art wind turbine and condensation
              technology, we have mastered the art of directional wind change
              and atmospheric water generation. Such directional wind change can
              influence cloud movement and reduce/stop rainfall while our
              condensation technology is applied to lower air temperature to
              it’s dew point, causing water to condense and the result is
              rainfall.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--end Section 2-->

    <!--Section 3-->
    <div class="custom-bg-blue-sky p-4 p-lg-5 text-center" id="section_3">
      <h2 class="custom-color-blue font-weight-bold text-center my-5">
        Use cases
      </h2>
      <div
        class="d-flex col-12 col-sm-11 flex-column align-items-center flex-sm-row my-5 mx-3 mx-sm-4 mx-lg-5"
      >
        <div class="col-11 col-sm-4 bg-white rounded-lg px-0">
          <div class="w-100">
            <div class="white-place w-100" id="image-water"></div>
          </div>
          <div class="pt-3">
            <h3 class="font-weight-bold custom-color-green">
              Rain-water Harvesting
            </h3>
            <p class="h6 pb-4 px-2 pt-2 custom-color-blue">
              Embrace the power to increase rainfall, and solve your water
              needs.
            </p>
          </div>
        </div>

        <div class="col-11 col-sm-4 my-5 my-sm-0 mx-sm-4 rounded-lg px-0">
          <div class="w-100">
            <div class="white-place w-100" id="image-agriculture"></div>
          </div>
          <div class="bg-white pt-3">
            <h3 class="font-weight-bold custom-color-green">Agriculture</h3>
            <p class="h6 pb-4 px-0 pt-2 custom-color-blue">
              RainMaker helps increase rainfall volume, save cost and improve
              crop yield.
            </p>
          </div>
        </div>

        <div class="col-11 col-sm-4 bg-white rounded-lg px-0">
          <div class="w-100">
            <div class="white-place w-100" id="image-floods"></div>
          </div>
          <div class="pt-3">
            <h3 class="font-weight-bold custom-color-green">
              Floods & Erosion
            </h3>
            <p class="h6 pb-4 px-2 pt-2 custom-color-blue">
              Now one of nature’s most destrcutive acts can be tamed!
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--end Section 3-->

    <!--Section 4-->
    <div id="section_4" class="custom-bg-green py-4 px-0">
      <h2 class="text-white text-center my-4 font-weight-bolder">
        Feel the RainMaker Experience!
      </h2>

      <div class="swiper-container py-4">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper mb-4">
          <!-- Slides -->
          <div class="swiper-slide" id="phone1-slider"></div>
          <div class="swiper-slide" id="phone2-slider"></div>
          <div class="swiper-slide" id="phone3-slider"></div>
          <div class="swiper-slide" id="phone4-slider"></div>
          <div class="swiper-slide" id="phone5-slider"></div>
          <div class="swiper-slide" id="phone6-slider"></div>
          <div class="swiper-slide" id="phone7-slider"></div>
          <div class="swiper-slide" id="phone8-slider"></div>
          ...
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination swiper-pagination-white"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev custom-swiper-button">
          <span class="text-dark fa fa-chevron-left ml-3"></span>
        </div>
        <div class="swiper-button-next custom-swiper-button">
          <span class="text-dark fa fa-chevron-right ml-5 ml-md-4"></span>
        </div>
      </div>
    </div>
    <!--end Section 4-->

    <!--Section Ready-->
    <div id="ready">
      <div class="mx-4 p-4 mx-lg-5 p-lg-5">
        <h2 class="d-sm-none custom-color-blue font-weight-bold my-3">
          Ready to become a RainMaker?
        </h2>

        <div class="d-flex flex-column flex-sm-row align-items-center py-5">
          <div class="col col-sm-6 py-0 py-sm-5">
            <div class="swiper-container w-100">
              <div class="swiper-wrapper">
                <div class="swiper-slide" id="image1-section6"></div>
                <div class="swiper-slide" id="image2-section6"></div>
                <div class="swiper-slide" id="image3-section6"></div>
              </div>
            </div>
          </div>

          <div class="pt-3 pt-sm-0 col-sm-6 ml-sm-4 px-0 px-md-5 mx-0 mx-md-5">
            <h2 class="d-none d-sm-block custom-color-blue font-weight-bold">
              Ready to become a <br />
              RainMaker?
            </h2>
            <p class="custom-color-green h5 font-weight-bold my-4">
              We'll notify you once the app is ready.
            </p>
            <form
              method="POST"
              class="col-9 col-sm-8 col-md-7 col-lg-9 mr-0 d-block col shadow"
            >
              <div class="row">
                <input
                  type="email"
                  name="email"
                  id="emailField"
                  class="form-control col-8 mr-0"
                  placeholder="Email address"
                  required
                />

                <input
                  type="submit"
                  value="SUBMIT"
                  class="btn btn-success text-white custom-bg-green font-weight-bolder col-4 form-control"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--end Section Ready-->

    <!--Section Footer-->
    <div class="custom-bg-green text-white">
      <div class="px-4 px-lg-5 py-4 mx-4 mx-lg-5">
        <hr class="border-white mb-1" />
        <div
          class="d-flex flex-wrap-reverse align-items-center justify-content-between my-0"
        >
          <div>
            <div class="bg-white px-4 py-1 d-inline-block">
              <img src="../static/Logo.png" alt="logo" />
            </div>
            <p class="pt-4">© 2020 RainMaker. All rights reserved.</p>
          </div>

          <div class="pr-0 mb-4">
            <p>
              www.rainmakerapp.com <br />
              support@rainmakerapp.com
            </p>
            <div class="d-flex col-12 pl-0">
              <div
                class="btn bg-white py-0 col-2 rounded-lg h1 custom-color-green pl-0 pr-0"
              >
                <i class="fa fa-facebook-f"></i>
              </div>
              <div
                class="btn bg-white py-0 col-2 rounded-lg h1 custom-color-green pl-2 pr-0 mx-3"
              >
                <i class="fa fa-instagram mr-5"></i>
              </div>
              <div
                class="btn bg-white py-0 col-2 rounded-lg h1 custom-color-green pl-0 pr-0"
              >
                <i class="fa fa-twitter"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end Section Footer-->

    <!--Modal messages-->

    <div
      class="modal fade"
      id="subscription_answer"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered col-9" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title font-weight-bold custom-color-blue">
              Thank You !
            </h3>
          </div>
          <div class="modal-body">
            <div class="d-none answer new_email">
              Thank you for signing up for RainMaker, newsletter will be
              delivered shorthy to the email address provided.
              <br />
              Stay in the know by liking
              <span class="text-primary">RainMaker</span> on Facebook or by
              following <span class="text-primary">@RainMaker</span> on
              instagram and twitter.
            </div>

            <div class="d-none answer not_new_email">
              Your email has already been registered.
              <br />
              Stay in the know by liking
              <span class="text-primary">RainMaker</span> on Facebook or by
              following <span class="text-primary">@RainMaker</span> on
              instagram and twitter.
            </div>

            <div class="ml-3 mt-3">
              <i class="btn fa fa-facebook-f"></i>

              <i class="btn fa fa-instagram mx-3"></i>

              <i class="btn fa fa-twitter"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <script src="../static/index.js"></script>
  </body>
</html>

<!--<form
        action="{{ url_for('email_register') }}"
        method="POST"
        class="container border-right border-left border-primary text-center mt-5"
      >
        <h2 class="text-primary">
          Register your Email
        </h2>

        <div class="form-group">
          <input
            type="email"
            name="email"
            id="emailField"
            class="form-control form-control-lg mx-auto col-7 my-5"
            placeholder="Enter your Email"
            required
            autofocus
          />

          <input
            type="submit"
            value="SEND"
            class="btn btn-lg font-weight-bolder btn-secondary col-4 form-control"
          />
        </div>
      </form> -->

<!--<div class="mt-5 pt-5 col-10 d-none">
        <ul class="list-group">
          {% for emailElm in emailAll %}
          <li class="list-group-item">
            <span class="font-weight-bold"> {{emailElm.id}}- </span>
            <code>{{emailElm.email}}</code>
          </li>
          {% else %}
          <i class="text-danger font-weight-bold">
            No email register yet !
          </i>
          {% endfor %}
        </ul>
      </div>-->
